header {
    background-color: var(--color-one);
    min-width: 320px;
}

nav {
    display: block;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.material-symbols-outlined {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--white);
}

.site-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.menu-links {
    display: none;
    align-items: center;
    margin: 0;
    margin-left: 10px;
    height: 100%;
}

.menu-links a {
    padding: 0 10px;
    font-family: "Droid Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
}

.mobile-menu-links {
    display: flex;
    flex-direction: column;
    background-color: var(--color-one);
    overflow: hidden;
    transition: max-height ease 1s;
    max-height: 0px;
}

.mobile-menu-links.expanded {
    max-height: 400px;
}

.mobile-menu-links a {
    text-align: center;
    padding: .8em;
    width: 100%;
    font-family: "Droid Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
}

@media (min-width: 768px) {
    .menu-links {
        display: flex;
    }

    .menu-toggle, .mobile-menu-links {
        display: none;
    }
}