:root {
    --color-one: #0357a2;
    --color-two: #04c0e8;
    --white-text: #fff;
    --max-width: 1200px;
}

body {
    overflow: hidden;
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header, footer, main {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: var(--max-width);
    padding: 0 calc(8px + 1.5vw);
    margin: 0 auto;
    width: 100%;
}

header .container {
    margin-top: 20px;
    margin-bottom: 20px;
}

main .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    margin-top: auto;
}